@-webkit-keyframes gradient {
    0%{background-position:8% 100%}
    50%{background-position:100% 0%}
    100%{background-position:8% 100%}
}
@-moz-keyframes gradient {
    0%{background-position:8% 100%}
    50%{background-position:100% 0%}
    100%{background-position:8% 100%}
}
@keyframes gradient {
    0%{background-position:8% 100%}
    50%{background-position:100% 0%}
    100%{background-position:8% 100%}
}

// float charcters
@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes floatintro {
    0% {
      transform: translatey(0px) scale(1);;
    }
    50% {
      transform: translatey(-100px) scale(1);;
    }
    100% {
      transform: translatey(0px) scale(1);;
    }
  }


  @keyframes rotateciao {
    100% {
      transform: rotate(-50deg);
      left: -200vw;
      top: -20vh;
    }
  }


// bounce

@keyframes x {
    100% {
      transform: translateX( calc(100vw - #{$size}) );
    }
  }
  
  @keyframes y {
    100% {
      transform: translateY( calc(100vh - #{$size}) );
    }
  }


  @keyframes rotate {
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
  }
  

  @keyframes rotatereverse {
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
  }
  
  
  @keyframes gelatine {
    from, to { transform: scale(1, 1);    transform: rotate(353deg);
    }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05);     ;
    }
  }  
