html {
  scrollbar-width: none;

  scroll-behavior: auto !important;
}

body::-webkit-scrollbar {
    display: none;
  }
  body {
    margin: 0;
    min-height: 100vh;
    font-family: "bbb-font";
  
  }
body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    -webkit-appearance: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  a {
    color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  }



  ul {
    list-style-type: none;
  }

  .ciao {
    display: none;
  }
  .reveal {
    display: block !important;
  }

  .flex {
    display: flex !important;
  }