$red : #FF2514;
$blue : #0062E1;
$green : #144645;
$lightgreen : #5ABE51;
$yellow : #FFCE35;
$pink : #D800FF;
$white : #F4F4F4;

.red {
  background-color: $red;
}
.blue {
  background-color: $blue;
}
.green {
  background-color: $green;
}
.yellow {
  background-color: $yellow;
}

.background {
  position: fixed;
  background: linear-gradient(180deg, $white, $white, #267beae0, $white, $white);
	background-size: 200% 200%;
	animation: gradient 150s ease infinite;
  -webkit-animation: gradient 150s ease infinite;
  -moz-animation:gradient 150s ease infinite;
	height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
}

.tiles {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
  z-index: 1;
  img {
    max-width: 50px;
    max-height: 60px;
    margin: 8px;
    object-fit: contain;
    cursor: grab;
    filter: drop-shadow(3px 1px 4px $pink);
  }
}


.random-tiles {
  position: absolute;
  top: 45vh;
  right: 50px;
  img {
    max-width: 50px;
    max-height: 60px;
    object-fit: contain;
    cursor: grab;
    filter: drop-shadow(3px 1px 4px $pink);
  }
}

.tree {
  position: absolute;
  bottom: -50px;
  width: 160px;
  left: 15px;
  animation: float 6s ease-in-out infinite;
}

.charac1 {
  position: absolute;
  top: 150px;
  width: 80px;
  left: 100px;
  animation: float 5s ease-in-out infinite;
}

.charac2 {
  position: absolute;
  top: 200px;
  width: 0px;
  right: 100px;
  animation: float 4s ease-in-out infinite;
}


$size: 105px;

.x, .y {
  width: $size;
  height: $size;
  position: fixed;
  z-index: 1;
}

.x {
  animation: x 39s linear infinite alternate;
}
.y {
  animation: y 26s linear infinite alternate;
  background-color: $red;
  color: $yellow;
  font-family: "bbb-font";
  border: 1px solid grey;
  filter: drop-shadow(3px 1px 12px $red);
  cursor: pointer;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  position: absolute;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  &:hover {
    transition: 0.5s ease;
    filter: drop-shadow(3px 1px 36px $red);

  }
}

.slider-ctn button {
  display: none !important;
}
.slider-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
  justify-content: center;
  margin: auto;
  .slider-btn {
    align-self: self-end;
    img {
      width: 120px;
      margin-right: -20px;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        transition: 0.5s ease;
        filter: drop-shadow(3px 1px 36px $red);
      }
    }
  }
}
.slick-slider {
  z-index: -1;
  background-color: $red;
  margin-top: 150px; 

}
.slick-list {
  width: 60vw;
  object-fit: fill;
  margin: auto;

  z-index: -1;
  mix-blend-mode: multiply;
   img {
    border-radius: 5px;
  
    background-blend-mode: multiply;
   }
}


// menu
.full-menu-ctn {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: #f4f4f461;
  backdrop-filter: blur(23px);
  z-index: 1;
}
  .circle-blur {
    border-radius: 50%;
    width: 50vw;
    margin: auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    animation: rotate 90s infinite;
    filter: blur(81px);
    background-color: white;
  }
  .menu-close {
    position: fixed;
    top: 0px;
    right: 70px;
    font-size: 37px;
    color: red;
    padding: 50px;
    cursor: pointer;
  }
  .full-menu {
    border-radius: 50%;
    width: 30vw;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    animation: rotate 90s infinite;
    filter: drop-shadow(2px 4px 60px rgb(255, 255, 255));
    .menu-square {
      color: $yellow;
      font-family: "bbb-font";
      border: 1px solid grey;
      filter: drop-shadow(3px 1px 12px $red);
      cursor: pointer;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s ease;
      height: $size;
      width: $size;
      text-transform: uppercase;
      animation: rotatereverse 90s infinite;
      &:hover {
        transition: 0.5s ease;
        filter: drop-shadow(3px 1px 36px $red);
      }
    }
    .menu-square1 {
      position: absolute;
      left: 46%;
      color: $green;
    }
    .menu-square2 {
      position: absolute;
      left: 82%;
      top: 12%;
    }
    .menu-square3 {
      position: absolute;
      left: 93%;
      top: 40%;
    }
    .menu-square4 {
      position: absolute;
      left: 83%;
      top: 73%;
    }
    .menu-square5 {
      position: absolute;
      left: 46%;
      top: 84%;
      color: $green;
    }
    .menu-square6 {
      position: absolute;
      left: 8%;
      top: 74%;
    }
    .menu-square7 {
      position: absolute;
      left: -7%;
      top: 40%;
    }
    .menu-square8 {
      position: absolute;
      left: 7%;
      top: 12%;
  
    }
  }




// content
.festival-title {
  margin: 60px 0;
  img {
    width: 93vw;
    transform: rotate(353deg);
    &:hover {
      transition: 0.5s ease;
    animation: gelatine 0.5s infinite;
    }
  }
  transform-style: preserve-3d;
  border-radius: 0px;
  &::before {
    content: "";
    position: absolute; 
    inset: -5px;
    background: $white;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: auto;
    margin: auto;
    transform: rotate(353deg);
  }

}

.festival-subtitle {
  color: $green;
  font-size: 60px;
  text-align: center;
  font-family: "bbb-font";
  position: relative;
  transform-style: preserve-3d;
  border-radius: 0px;
  &::before {
    content: "";
    position: absolute; 
    inset: -5px;
    background: $white;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 550px;
    margin: auto;
  }
}

.festival-date {
  font-size: 40px;
  text-align: center;
  color: $green;
  margin: 60px 0;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 0px;
  &::before {
    content: "";
    position: absolute; 
    inset: -5px;
    background: $white;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 550px;
    margin: auto;
  }
}
.festival-intro {
  .intro-text {
    width: 800px;
    text-align: center;
    margin: 10px auto;
    color: $green;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    line-height: 40px;
    transform-style: preserve-3d;
    border-radius: 0px;
    &::before {
      content: "";
      position: absolute; 
      inset: -5px;
      background: $white;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
      width: 850px;
      margin: auto;
    }
    .bbb {
      font-family: "bbb-font";
    }
  }
}

.festival-tickets {
  margin: 100px auto;
  a {
    display: block;
    width: 1000px;
    text-align: center;
    margin: 250px auto;
    color: $blue;
    font-family: "bbb-font";
    font-size: 60px;
    text-transform: uppercase;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    &:hover {
      transition: 0.5s ease;
      color: $red;
    }
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $lightgreen;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  
  }
}


.full-menu-ctn-fixed {
  .circle-blur {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .full-menu {    
    z-index: 1;
    position: relative;
  }

}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  margin-top: 200px;
  .text {
    max-width: 30vw;
    font-size: 12px;
    color: $green;
  }
  img {
    max-height: 55px;
    max-width: 170px;
  }
}

.square-line {
  display: flex;
  margin: 10px;
  div {
    width: 6px;
    height: 6px;
    margin-right: 2px;
  }
}

#secret-fixed {
  position: absolute;
  // width: 100px;
  // height: 100px;
  // background: pink;
  margin-top: -80vh;
}







// other pages
.overkill-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
    margin: 15px;
  }
}
// page about
.about-big-title {
  font-size: 60px;
  text-align: center;
  color: $white;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  border-radius: 0px;
  width: 80vw;
  margin: auto;
  margin: 50px auto 200px;
  &::before {
    content: "";
    position: absolute; 
    inset: -33px;
    background: $yellow;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 80vw;
    margin: auto;
  }
}
.about-ctn {
  .about-title {
    text-transform: uppercase;
    background-color: $blue;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 0 50px;
    margin-bottom: 0px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $blue;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  }
  .about-text {
    background-color: $red;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $red;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
    img {
     margin-bottom: 50px;
     mix-blend-mode: lighten;
    }
  }
}



//eco page
.eco-big-title {
  font-size: 60px;
  text-align: center;
  color: $white;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  border-radius: 0px;
  width: 80vw;
  margin: auto;
  margin: 50px auto 200px;
  &::before {
    content: "";
    position: absolute; 
    inset: -33px;
    background: $red;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 80vw;
    margin: auto;
  }
}
.eco-ctn {
  .eco-title {
    text-transform: uppercase;
    background-color: $green;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 0 50px;
    margin-bottom: 0px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $green;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  }
  .eco-text {
    background-color: $blue;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $blue;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
    img {
     margin-bottom: 50px;
     mix-blend-mode: lighten;
    }
  }
}


// faq

//faq page
.faq-big-title {
    font-size: 60px;
    text-align: center;
    color: $white;
    position: relative;
    text-transform: uppercase;
    transform-style: preserve-3d;
    border-radius: 0px;
    width: 80vw;
    margin: auto;
    margin: 50px auto 200px;
    &::before {
      content: "";
      position: absolute; 
      inset: -33px;
      background: $red;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
      width: 80vw;
      margin: auto;
    }
}
.faq-ctn {
  .faq-block {
    min-height: 200px;
  }
  .faq-title {
    cursor: pointer;
    text-transform: uppercase;
    background-color: $blue;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 0 50px;
    margin-bottom: 0px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    text-align: center;
  
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $blue;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  }
  .faq-text {
    display: none;
    background-color: $green;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $green;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
    img {
     margin-bottom: 50px;
     mix-blend-mode: lighten;
    }
  }
}

