$red : #FF2514;
$blue : #0062E1;
$green : #144645;
$lightgreen : #5ABE51;
$yellow : #FFCE35;
$pink : #D800FF;
$white : #F4F4F4;

.red {
  background-color: $red;
}
.blue {
  background-color: $blue;
}
.green {
  background-color: $green;
}
.yellow {
  background-color: $yellow;
}

.festival-intro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100000;
  background: #dcff5f66;
  backdrop-filter: blur(22px);
  img {
    margin: auto;
    display: block;
    margin-top: 10vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 900px;
    transition: 2s ease;
  }
}
.floatanim {
  animation: floatintro 1.4s infinite;
}
.logo-ciao {
  transition: 2s ease;
  animation: rotateciao 1s infinite;
  position: inherit !important;
  animation-iteration-count: 1
}
.nomoreblur {
  backdrop-filter: blur(0) !important;
  transition: 1s ease !important;
  background: transparent !important;
  z-index: -1;

}

.background {
  position: fixed;
  background: linear-gradient(180deg, $white, $white, #267beae0, $white, $white);
	background-size: 200% 200%;
	animation: gradient 150s ease infinite;
  -webkit-animation: gradient 150s ease infinite;
  -moz-animation:gradient 150s ease infinite;
	height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
}

.tiles {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
  z-index: 1;
  img {
    max-width: 50px;
    max-height: 60px;
    margin: 8px;
    object-fit: contain;
    cursor: grab;
    filter: drop-shadow(3px 1px 4px $pink);
  }
}


.random-tiles {
  position: absolute;
  top: 45vh;
  right: 50px;
  img {
    max-width: 50px;
    max-height: 60px;
    object-fit: contain;
    cursor: grab;
    filter: drop-shadow(3px 1px 4px $pink);
  }
}

.tree {
  position: absolute;
  bottom: -50px;
  width: 160px;
  left: 15px;
  animation: float 6s ease-in-out infinite;
}

.charac1 {
  position: absolute;
  top: 150px;
  width: 80px;
  left: 100px;
  animation: float 5s ease-in-out infinite;
}

.charac2 {
  position: absolute;
  top: 200px;
  width: 0px;
  right: 100px;
  animation: float 4s ease-in-out infinite;
}


$size: 105px;

.x, .y {
  width: $size;
  height: $size;
  position: fixed;
  z-index: 1;
}

.x {
  animation: x 39s linear infinite alternate;
}
.y {
  animation: y 26s linear infinite alternate;
  background-color: $red;
  color: $yellow;
  font-family: "bbb-font";
  border: 1px solid grey;
  filter: drop-shadow(3px 1px 12px $red);
  cursor: pointer;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  position: absolute;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-size: $menu;
  &:hover {
    transition: 0.5s ease;
    filter: drop-shadow(3px 1px 36px $red);

  }
}

.slider-ctn button {
  display: none !important;
}
.slider-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
  justify-content: center;
  margin: auto;
  .slider {
    .slide {
      background-color: $red;
      border-radius: 5px;
      img  {
        mix-blend-mode: multiply;
        width: 100%;
        max-height: 60vh;
        object-fit: cover;
        border: 1px solid grey;
        border-radius: 5px;
      }
      .caption {
        position: absolute;
        color: $yellow;
        bottom: 0;
        padding: 10px;
        font-family: "helvetica";
        cursor: pointer;

      }
    }
  }
  .slider-btn {
    align-self: self-end;
    img {
      width: 120px;
      margin-right: -20px;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        transition: 0.5s ease;
        filter: drop-shadow(3px 1px 36px $red);
      }
    }
  }
}
.slick-slider {
  z-index: 0;
  margin-top: 150px; 
  filter: drop-shadow(2px 4px 10px grey);
}
.slick-list {
  width: 60vw;
  object-fit: fill;
  margin: auto;

  z-index: -1;
  mix-blend-mode: multiply;
   img {
    border-radius: 5px;
  
    background-blend-mode: multiply;
   }
}


// menu
.full-menu-ctn {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: #f4f4f461;
  backdrop-filter: blur(23px);
  z-index: 1;
}
  .circle-blur {
    border-radius: 50%;
    width: 50vw;
    margin: auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    animation: rotate 90s infinite;
    filter: blur(81px);
    background-color: white;
  }
  .menu-close {
    position: fixed;
    top: 0px;
    right: 70px;
    font-size: 37px;
    color: red;
    padding: 50px;
    cursor: pointer;
  }
  .full-menu {
    border-radius: 50%;
    width: 30vw;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    animation: rotate 90s infinite;
    font-size: $menu;
    filter: drop-shadow(2px 4px 60px rgb(255, 255, 255));
    .menu-square {
      color: $yellow;
      font-family: "bbb-font";
      border: 1px solid grey;
      filter: drop-shadow(3px 1px 12px $red);
      cursor: pointer;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s ease;
      height: $size;
      width: $size;
      text-transform: uppercase;
      animation: rotatereverse 90s infinite;
      
      &:hover {
        transition: 0.5s ease;
        filter: drop-shadow(3px 1px 36px $red);
      }
    }
    .menu-square1 {
      position: absolute;
      left: 46%;
      color: $green;
    }
    .menu-square2 {
      position: absolute;
      left: 82%;
      top: 12%;
    }
    .menu-square3 {
      position: absolute;
      left: 93%;
      top: 40%;
    }
    .menu-square4 {
      position: absolute;
      left: 83%;
      top: 73%;
    }
    .menu-square5 {
      position: absolute;
      left: 46%;
      top: 84%;
      color: $green;
    }
    .menu-square6 {
      position: absolute;
      left: 8%;
      top: 74%;
    }
    .menu-square7 {
      position: absolute;
      left: -7%;
      top: 40%;
    }
    .menu-square8 {
      position: absolute;
      left: 7%;
      top: 12%;
  
    }
  }




// content
.festival-title {
  margin: 60px 0;
  img {
    width: 70vw;
    margin: auto;
    display: block;
    // transform: rotate(353deg);
    &:hover {
      transition: 0.5s ease;
    // animation: gelatine 0.5s infinite;
    }
  }
  transform-style: preserve-3d;
  border-radius: 0px;
  &::before {
    content: "";
    position: absolute; 
    inset: -5px;
    background: $white;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 70vw;
    margin: auto;
    // transform: rotate(353deg);
    z-index: 0;
  }

}

.festival-subtitle {
  color: $green;
  font-size: $medium;
  text-align: center;
  font-family: "bbb-font";
  position: relative;
  transform-style: preserve-3d;
  border-radius: 0px;
  &::before {
    content: "";
    position: absolute; 
    inset: -5px;
    background: $white;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 450px;
    margin: auto;
  }
}

.festival-date {
  font-size: $medium;
  text-align: center;
  color: $green;
  margin: 30px 0;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 0px;
  &::before {
    content: "";
    position: absolute; 
    inset: -5px;
    background: $white;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 550px;
    margin: auto;
  }
}
.festival-intro- {
  .intro-text {
    width: 800px;
    text-align: center;
    margin: 10px auto;
    color: $green;
    font-family: Helvetica, sans-serif;
    font-size: $medium;
    line-height: 33px;
    transform-style: preserve-3d;
    border-radius: 0px;
    &::before {
      content: "";
      position: absolute; 
      inset: -5px;
      background: $white;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
      width: 850px;
      margin: auto;
    }
    .bbb {
      font-family: "bbb-font";
    }
  }
}

.festival-tickets {
  margin: 100px auto;
  a {
    display: block;
    width: 1000px;
    text-align: center;
    margin: 300px auto;
    color: $blue;
    font-family: "bbb-font";
    font-size: $big;
    text-transform: uppercase;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    &:hover {
      transition: 0.5s ease;
      color: $red;
    }
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $lightgreen;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  
  }
}

.festival-schedule {
  margin: 100px auto;
  a {
    display: block;
    width: 1000px;
    text-align: center;
    margin: 250px auto;
    color: $blue;
    font-family: "bbb-font";
    font-size: $big;
    text-transform: uppercase;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    &:hover {
      transition: 0.5s ease;
      color: $green;
    }
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $red;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  
  }
}

.full-menu-ctn-fixed {
  .circle-blur {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .full-menu {    
    z-index: 1;
    position: relative;
  }

}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px 0 15px;
  margin-top: 200px;
  .text {
    max-width: 30vw;
    font-size: 12px;
    color: $green;
    font-family: Helvetica, sans-serif;
    align-self: flex-end;
  }
  img {
    max-height: 55px;
    max-width: 170px;
  }
}

.square-line {
  display: flex;
  margin: 10px;
  div {
    width: 6px;
    height: 6px;
    margin-right: 2px;
  }
}

#secret-fixed {
  position: absolute;
  // width: 100px;
  // height: 100px;
  // background: pink;
  margin-top: -80vh;
}







// other pages
.overkill-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
    margin: 15px;
  }
}
// page about
.about-big-title {
  font-size: $big;
  text-align: center;
  color: $white;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  border-radius: 0px;
  width: 80vw;
  margin: auto;
  margin: 50px auto 200px;
  &::before {
    content: "";
    position: absolute; 
    inset: -33px;
    background: $yellow;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 80vw;
    margin: auto;
  }
}
.about-ctn {
  .about-title {
    text-transform: uppercase;
    background-color: $blue;
    color: $white;
    font-size: $medium;
    line-height: 1.2;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 0 50px;
    margin-bottom: 0px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $blue;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  }
  .about-text {
    background-color: $red;
    color: $white;
    font-size: $mediumhel;
    font-family: Helvetica, sans-serif;
    line-height: 1.4;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $red;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
    img {
     margin-bottom: 50px;
     mix-blend-mode: lighten;
     width: 100%;
    }
  }
}



//eco page
.eco-big-title {
  font-size: $big;
  text-align: center;
  color: $white;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  border-radius: 0px;
  width: 80vw;
  margin: auto;
  margin: 50px auto 200px;
  &::before {
    content: "";
    position: absolute; 
    inset: -33px;
    background: $red;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 80vw;
    margin: auto;
  }
}
.eco-ctn {
  .eco-title {
    text-align: center;
    text-transform: uppercase;
    background-color: $green;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 0 50px;
    margin-bottom: 0px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $green;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  }
  .eco-text {
    background-color: $blue;
    color: $white;
    font-size: $mediumhel;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $blue;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
    img {
     margin-bottom: 50px;
     mix-blend-mode: lighten;
     width: 100%;
    }
  }
}


// faq

//faq page
.faq-big-title {
    font-size: $big;
    text-align: center;
    color: $white;
    position: relative;
    text-transform: uppercase;
    transform-style: preserve-3d;
    border-radius: 0px;
    width: 80vw;
    margin: auto;
    margin: 50px auto 200px;
    &::before {
      content: "";
      position: absolute; 
      inset: -33px;
      background: $red;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
      width: 80vw;
      margin: auto;
    }
}
.faq-ctn {
  .faq-block {
    min-height: 200px;
  }
  .faq-title {
    cursor: pointer;
    text-transform: uppercase;
    background-color: $blue;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 0 50px;
    margin-bottom: 0px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    text-align: center;
  
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $blue;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  }
  .faq-text {
    display: none;
    background-color: $green;
    color: $white;
    font-size: $mediumhel;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $green;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
    img {
     margin-bottom: 50px;
     mix-blend-mode: lighten;
     width: 100%;
    }
  }
}

// program

// page program
.program-big-title {
  font-size: $big;
  text-align: center;
  color: $white;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  border-radius: 0px;
  width: 80vw;
  margin: auto;
  margin: 50px auto 200px;
  &::before {
    content: "";
    position: absolute; 
    inset: -33px;
    background: $blue;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 80vw;
    margin: auto;
  }
}
.cat-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: $medium;
  color: $blue;
  li {
    padding: 5px 20px;
    text-transform: uppercase;
    &:hover {
      transition: 0.5s ease;
      filter: drop-shadow(3px 1px 36px $red);
    
    }
  }
}
.cat-list .active {
color: $red;
filter: drop-shadow(3px 1px 12px $red);

}

.project-tiles {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 900px;
    a {
      cursor: pointer;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-size: $menu;
    &:nth-child(even) .mosaique-image {
      background-color: $lightgreen;
    }
    &:nth-child(odd) .mosaique-image{
      background-color: $yellow;
    }
    &:nth-child(even) .name {
      color: $lightgreen;
    }
    &:nth-child(odd) .name{
      color: rgb(173, 173, 16);
    }
    &:hover {
      transition: 0.5s ease;
      filter: drop-shadow(3px 1px 36px $red);
    }
    .mosaique-image {
      width: 200px;
      height: 200px;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        mix-blend-mode: multiply;
      }
    }
    .name {
      text-align: center;
      padding: 10px;
    }

    }
}

// single program

// page program
.single-big-title {
  font-size: $big;
  text-align: center;
  color: $white;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  border-radius: 0px;
  width: 80vw;
  margin: auto;
  margin: 50px auto 200px;
  &::before {
    content: "";
    position: absolute; 
    inset: -33px;
    background: $blue;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 80vw;
    margin: auto;
  }
}
.single-artist {
  max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blue;
    color: $white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    transform-style: preserve-3d;
    &::before {
      content: "";
      position: absolute;
      inset: -52px;
      background: $blue;
      filter: blur(18px);
      transform: translate3d(1px, -3px, -1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
    .artist-image {
      mix-blend-mode: multiply;
      img {
        margin-bottom: 25px;
      }
    }
    .single-info {
      text-align: center;
      font-family: Helvetica, sans-serif;
      font-size: $mediumhel;
      line-height: 1.4;
      .cat-list {
        color: inherit;
        font-family: 'bbb-font';
        margin: 0;
        padding: 0;
        font-size: $menu;
        li {
          padding: 0;
        }
      }
    }
    .artist-desc {
      font-family: Helvetica, sans-serif;
      font-size: $mediumhel;
      line-height: 1.4;
    }
}

// page schedule
.schedule-big-title {
  font-size: $big;
  text-align: center;
  color: $white;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  border-radius: 0px;
  width: 80vw;
  margin: auto;
  margin: 50px auto 200px;
  &::before {
    content: "";
    position: absolute; 
    inset: -33px;
    background: $red;
    filter: blur(18px);
    transform: translate3d(1px,-3px,-1px);
    border-radius: inherit;
    pointer-events: none;
    border-radius: 10%;
    width: 80vw;
    margin: auto;
  }
}
.schedule-ctn {
  .schedule-title {
    text-transform: uppercase;
    background-color: $lightgreen;
    text-align: center;
    color: $white;
    font-size: $medium;
    max-width: 600px;
    margin: auto;
    padding: 0 50px;
    margin-bottom: 0px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $lightgreen;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
  }
  .schedule-text {
    background-color: $blue;
    color: $white;
    font-size: 20px;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      position: absolute; 
      inset: -52px;
      background: $blue;
      filter: blur(18px);
      transform: translate3d(1px,-3px,-1px);
      border-radius: inherit;
      pointer-events: none;
      border-radius: 10%;
    }
    .locations {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: $menu;
      font-family: 'bbb-font';
      width: 900px;
      .loc {
        margin: 10px 25px;
        width: 25%;
        .loc-name {
          text-transform: uppercase;
          margin-bottom: 20px;
          font-size: 16px;
        }
        .events {
          font-family: 'Helvetica';
          list-style-type: none;
          margin-bottom: 20px;
          line-height: 1.4;
          a {
            cursor: pointer;
            &:hover {
              transition: 0.5s ease;
              filter: drop-shadow(3px 1px 6px $red);
            }
          }
          .page-title {
            font-family: 'bbb-font';
          }
        }
      }
    }
  }
}


// coming
.coming-page {
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  .tree {
    bottom: 100px;
  }
  .festival-title {
    margin: 60px 0 0 0;
    &::before {
      display: none;
    }
    img {
      width: auto;
      height: 60vh;
      margin: auto;
      display: block;
    }
  }
  .tiles {
    top: 0;
    img {
      max-width: 30px;
    }
  }
  .festival-subtitle {
    font-size: $medium;
  }
  .festival-date {
    font-size: $medium;
    margin: 30px 0 0 0;
  }
}


// screensaver

#screensaver {
  .screen {
      width: 100vw;
      height: 100vh;
      position: fixed;
      object-fit: cover;
      z-index: 1000000000;
     visibility: hidden;
     opacity: 0;
  }
}
.screen-visible {
  visibility: visible !important;
  opacity: 1 !important;
  transition: visibility 0s, opacity 1s linear;
}